@import "tailwindcss";
@import "~/css/markdown.css";

@theme {
  --color-primary: #6240b9;
  --color-primary-hover: #8b64f0;
  --color-primary-light: #a36cdd;
  --color-primary-pop: #8d2ed8;

  --color-secondary: #11d4d4;

  --color-blue: #4a22b0;
  --color-pink: #c000f9;

  --drop-shadow-heading: 5px 5px 3px rgba(0, 0, 0, 0.35);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}